.App {
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column
}

.App-logo {
  /* animation: App-logo-spin infinite 4s linear; */
  border-radius: 100%;
  height: 40px;
}

.App-header {
  background-color: #005480;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0
}

.App-title {
  font-size: 1.5rem;
  margin: 0 .5rem
}

.App-intro {
  font-size: large;
}

.doc-frame {
  flex-grow: 1
}

.content-area {
  background-color: hsla(0, 0%, 97%, .75)
}

.api-content {
  overflow: auto
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.border-none {
  border: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
